<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet List</title>
  </head>
  <body>
    <h1>Pets</h1>
    <div class="pet-list">
      {%for pet in pets%}
      <img src="{{pet.photo_url}}" alt="" />
      <p>
        <a href="/{{pet.id}}">{{pet.name.capitalize()}}</a>{%if
        pet.available%}<strong> is available!</strong>{%else%} is not
        available.{%endif%}
      </p>
      {%endfor%}
    </div>
    <form action="/add" method="GET">
      <button>Add Pet</button>
    </form>
  </body>
</html>
